extends layout

block content
    div.container.my-3
        div.p-5.bg-light.rounded-3 
            h1.text-body 予定調整くん
            br
            p.lead 予定調整くんへようこそ！<br>
    hr
    h3 予定一覧
    p この予定調整くんは、アカウントを作らなくても<br>予定の閲覧が行えます。
    a.btn.btn-primary(href="schedules") 予定一覧へ
    hr
    h3 アカウント
    p アカウントにログインすると、予定の作成や出欠の編集が行えます。<br>また、アカウントを作成するには申請が必要です。
    if user 
        a.btn.btn-primary(href="logout") #{user}からログアウト 
    else
        a(href="login").btn.btn-primary ログイン 
