extends layout

block content
  div.jumbotron.my-3
    h1.display-4 Mr. SCHEDULE ADJUSTMENT
    p.lead Mr. SCHEDULE ADJUSTMENT is a service that allows you to authenticate with GitHub, make schedules, and take attendance.
  if user
    div
      a(href="/schedules/new").btn.btn-info Make an appointment
    - var hasSchedule = schedules.length > 0
    if hasSchedule
      h3.my-3 List of schedules you made
      table.table
        tr
          th Schedule name
          th Update date and time
        each schedule in schedules
          tr
            td
              a(href=`/schedules/${schedule.scheduleId}`) #{schedule.scheduleName}
            td #{schedule.formattedUpdatedAt}
