doctype html
html
  head
    title Mr. SCHEDULE ADJUSTMENT
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet",
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css",
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm",
    crossorigin="anonymous")
  body
    nav.navbar.navbar-light.bg-light
      div.navbar-header
        a(href="/").navbar-brand.nav-link Mr. SCHEDULE ADJUSTMENT
      ul.navbar-nav
        if user
          li.nav-item
            a(href="/logout").nav-link #{user.username} Log out
        else
          li.nav-item
            a(href="/login").nav-link Log in
    div.container
      block content
    script(src="/javascripts/bundle.js")
