extends layout

block content
  form.my-3(method="post", action="/schedules")
    input(type="hidden" name="_csrf" value!=csrfToken)
    div.mb-3
      label.form-label(for="scheduleName") 予定名
      input#scheduleName.form-control(type="text" name="scheduleName")
    div.mb-3
      label.form-label(for="memo") メモ
      textarea#memo.form-control(name="memo")
    div.mb-3
      label.form-label(for="candidates") 候補日程 (改行して複数入力してください)
      textarea#candidates.form-control(name="candidates" rows="4")
    button.btn.btn-primary(type="submit") 予定をつくる
